<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackfest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/brain"
        android:label="@string/project_name"
        android:roundIcon="@drawable/brain"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackFest">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PreviousActivity"
            android:exported="false" />
        <activity
            android:name=".SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".AskActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>